@import './variables.less';

code {
  font-family: @normal-font-family;

  .hljs-keyword {
    color: @design-primary-color;
  }

  .hljs-number {
    color: @open-source-primary-color;
  }

  .hljs-built_in {
    color: @dark-font-color;
  }

  .hljs-string {
    color: @purple;
  }

  .hljs-function {
    .hljs-title {
      color: @brown;
    }
  }
}