@import './variables.less';
@import './mixins.less';

.docs {
  max-width: @container-width;
  padding: 0 @padding-xs;
  margin: 0 auto;

  .docs-sections {
    .make-xs-column(12);
    .make-sm-column(3);

    @media (min-width: 768px) {
      width: 30%;
      padding-right: @padding-normal;
    }

    .github-btn {
      .make-xs-column(12);
      margin-bottom: @padding-xs;

      @media (min-width: 768px) {
        margin-top: @padding-normal;
      }
    }
  }


  .docs-sections-list {
    margin: 0 0 @padding-xs 0;
    padding: 0;
    list-style: none;
    display: none;

    @media (min-width: 768px) {
      margin: 0;
      display: block
    }
  }

  .docs-sections-list-item {
    border-bottom: 1px solid @light-gray;

    &:first-child {
      margin-top: 0;
    }

    a {
      line-height: 45px;
      width: 100%;
      display: block;
      color: @open-source-primary-color;
      .transition(text-indent 0.2s ease-in-out);

      &:hover {
        text-indent: 10px;
        background-color: @pre-bg;
      }
    }
  }

  .docs-content {
    margin: @padding-xs auto 0 auto;
    .make-xs-column(12);
    .make-sm-column(9);

    @media (min-width: 768px) {
      margin-top: 0;
      width: 70%;

      .docs-inner-content {
        margin: auto;
      }
    }

    .docs-title {
      &:first-child {
        margin-top: 0;
      }
    }

    a {
      color: @dark-font-color;
      border-bottom: 1px dotted @dark-font-color;

      &:hover {
        color: @blue;
        text-decoration: none;
      }
    }
  }

  .docs-images {
      img {
          width: 200px;
      }
  }
}