@import './variables.less';

.airware-footer {
  padding: 0;
  position: relative;
  background: @pre-bg;
  margin-top: 75px;
  .square(100%);
  .translate3d(0, 0, 1px);

  hr {
    margin: 0;
  }

  .careers {
    text-align: center;
    background-color: @pre-bg;
    padding: 100px 0;
  }

  .github-icon, .dribble-icon, .twitter-icon {
    vertical-align: middle;
    position: relative;
    width: 30px;
    height: 30px;
    background-size: 27px;
    background-repeat: no-repeat;
    display: inline-block;
  }

  .github-icon {
    .github-bg();
  }

  .dribble-icon {
    .dribble-bg();
  }

  .twitter-icon {
    top: 2px;
    background-size: 28px;
    .twitter-bg();
  }

  &-links {
    height: 60px;
  }

  &-cnt {
    max-width: @container-width;
    margin: 0 auto;

    .external-links, .copyright {
      width: 100%;
      display: inline-block;
      text-align: center;
    }

    .copyright {
      color: @home-primary-color;
    }

    .external-links {
      .external {
        margin-left: 15px;
        color: @home-primary-color;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    @media (max-width: @container-width) {
      .external-links {
        padding-right: @padding-normal;
      }

      .copyright {
        padding-left: @padding-normal;
      }
    }

    @media (min-width: 768px) {
      .external-links, .copyright {
        width: 49%;
      }

      .external-links {
        text-align: right;

        .external {
          margin-left: @padding-sm;

          &:first-child {
            margin-left: 0;
          }
        }
      }

      .copyright {
        text-align: left;
      }
    }
  }
}

.engineering {
  .airware-footer {
    .external-links .external {
      color: @eng-primary-color;
    }
  }
}

.design {
  .airware-footer {
    .external-links .external{
      color: @design-primary-color;
    }
  }
}

.open-source {
  .airware-footer {
    .external-links .external {
      color: @open-source-primary-color;
    }
  }
}
