@import "./variables.less";
@import './mixins.less';

* {
  font-family: @normal-font-family;
}

body {
  background-color: @body-bg;
  font-size: @font-size-base;
  color: @dark-font-color;
  line-height: @line-height-base;

  &.scroll-lock {
    overflow: hidden;
  }
}

h1, h2, h2, h3, h4, h5, h6,
h1 > a, h2 > a, h3 > a, h4 >a, h5 > a, h6 > a {
  font-family: @bold-font-family;
  font-weight: normal;
}

h1 {
  font-size: @h1-font-size;
}

h2 {
  font-size: @h2-font-size;
}

h3 {
  font-size: @h3-font-size;
}

h4 {
  font-size: @h4-font-size;
}

a, a:hover {
  text-decoration: none;
}

.env-badge {
  position: fixed;
  width: 200px;
  margin-left: -100px;
  left: 50%;
  z-index: 1000;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  opacity: 0.5;

  background-color: @yellow; /* Default for feature branches */
  &.local { background-color: @purple; }
  &.develop { background-color: @blue; }

  span { color:#fff; text-transform:uppercase; }
}

.table-responsive {
  border: none;
}

.airware-header-cnt {
  max-width: @container-width;
  margin-left: auto;
  margin-right: auto;
}

.airware-main {
  width: 100%;
  z-index: 2;
  background-color: @body-bg;
  position: relative;
  padding: 0;
  .translate3d(0, 0, 1px);

  .airware-content {
    padding: @padding-normal 0;
    overflow-x: hidden;
  }
}

body:not(.post) {
  &.home, &.design, &.engineering {
    .airware-content {
      margin: 0 auto;
      max-width: @container-width;
      padding: @padding-normal @padding-xs;

      @media (min-width: 768px) {
        padding: @padding-normal;
      }
    }
  }

  &.author {
    .airware-content {
      padding: 0;
    }
  }
}

.open-source {
  .airware-content {
    margin: 0 auto;
    max-width: @container-width;
    padding: @padding-normal 0;
  }
}
