<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}} | {{pageTitle}}</title>
        <link type="text/css" rel="stylesheet" href="/all.min.css?{{timestamp}}"/>
        <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico"/>
    </head>
    <body class="{{class}}">
            {{#block "header"}}{{/block}}

            <main class="container-fluid airware-main">
                <div class="airware-content">
                    {{#block "body"}}{{/block}}
                </div>
            </main>

            {{> footer}}
            {{> mobilemenu}}
            {{> hamburger}}
            {{> lightbox}}
    </body>

    <script type="text/javascript" src="/all.min.js?{{timestamp}}"></script>
</html>