<script id="template-careers" type="text/html">
    <div class="careers-cnt">
        <h2 class="careers-title">Open Positions</h2>
        <p class="careers-tagline">Apply to join the team in San Francisco! <a class="external" href="http://grnh.se/4hqdsm">See all positions</a>.</p>

        <ul class="career-list">
            {{#each careers}}
            <li class="career-list-item">
                <a class="external" href="{{link}}">
                    <span class="career-name">{{title}}</span>
                    <span class="career-apply">Apply</span>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</script>
