<script id="template-careers" type="text/html">
    <div class="careers-cnt">
        <h2 class="careers-title">Open Positions</h2>
        <p class="careers-tagline">Think you have what it takes? Join the team in San Francisco</p>

        <ul class="career-list">
            <li class="career-list-item">
                <a class="external" href="http://www.airware.com/careers#/tabs-13472">
                    <span class="career-name">Software Engineer - C#</span>
                    <span class="career-apply">Apply</span>
                </a>
            </li>

            <li class="career-list-item">
                <a class="external" href="http://www.airware.com/careers#/tabs-49240">
                    <span class="career-name">Software Engineer - JavaScript</span>
                    <span class="career-apply">Apply</span>
                </a>
            </li>

            <li class="career-list-item">
                <a class="external" href="http://www.airware.com/careers#/tabs-129954">
                    <span class="career-name">Software Engineer - Data Analysis</span>
                    <span class="career-apply">Apply</span>
                </a>
            </li>

            <li class="career-list-item">
                <a class="external" href="http://www.airware.com/careers#/tabs-121037">
                    <span class="career-name">Software Engineer - Image & Data Processing</span>
                    <span class="career-apply">Apply</span>
                </a>
            </li>
        </ul>
    </div>
</script>