<footer class="container-fluid airware-footer">
	<hr>

	<div class="airware-footer-cnt airware-footer-links">
		<span class="copyright">© Copyright {{year}}, Airware. All Rights Reserved.</span>

		<span class="external-links">
			<a class="external" target="_blank" href="https://github.com/airware">Github</a>
			<a class="external" href="https://dribbble.com/airware">Dribble</a>
			<a class="external" href="https://twitter.com/airware">Twitter</a>
		</span>
	</div>

	<div class="careers">
		<div class="airware-footer-cnt">
			<p class="careers-title">Want to be a part of the droney goodness? We're Hiring!</p>

			<button class="btn btn-careers" data-lightbox-item="#template-careers">
				View Open Positions
			</button>
		</div>
	</div>
</footer>