<footer class="container-fluid airware-footer">
	<hr>

	<div class="careers">
		<div class="airware-footer-cnt">
			<p class="careers-title">Want to join our team in San Francisco? We’re hiring!</p>

			<button class="btn btn-careers" data-lightbox-item="#template-careers">
				View Open Positions
			</button>
		</div>
	</div>

	<div class="airware-footer-cnt airware-footer-links">
		<span class="copyright">© Copyright {{year}}, <a class="external" href="https://www.airware.com/">Airware</a>. All Rights Reserved.</span>

		<span class="external-links">
			<a class="external" target="_blank" href="https://github.com/airware"><span class="github-icon"></span></a>
			<a class="external" href="https://dribbble.com/airware"><span class="dribble-icon"></span></a>
			<a class="external" href="https://twitter.com/AirwareMakers"><span class="twitter-icon"></span></a>
		</span>
	</div>
</footer>
