<footer class="container-fluid airware-footer">
	<hr>
	<div class="external-links">
		<ul class="list-inline external-links-list">
			<li><a class="external" target="_blank" href="https://github.com/airware">Github</a></li>
			<li><a class="external" href="https://dribbble.com/airware">Dribble</a></li>
			<li><a class="external" href="https://twitter.com/airware">Twitter</a></li>
		</ul>
	</div>
	<div class="copyright">
		<span class="copy-right-text">© Copyright {{year}}, Airware. All Rights Reserved.</span>
	</div>
</footer>