<nav class="airware-nav">
    <div class="airware-nav-logo-cnt">
        <a class="airware-nav-logo" href="/">
            <img class="airware-logo" src="/img/logo.png">
        </a>
    </div>

    <div class="airware-nav-items">
        <a class="airware-nav-item engineering-nav-item" href="/engineering/">Engineering</a>
        <a class="airware-nav-item design-nav-item" href="/design/">Design</a>
        <a class="airware-nav-item open-source-nav-item" href="/open-source/">Open Source</a>
    </div>
</nav>