{{#extend "base"}}
    {{#content "header"}}
        {{#extend "header"}}
            {{#content "hero"}}
                {{> hero_headline_post}}
            {{/content}}
        {{/extend}}
    {{/content}}

    {{#content "body"}}
        <div class="row post-content" data-lightbox data-post-category="{{category}}">
            {{{this.content}}}

            <p class="text-center" style="margin-top:45px; color: #a5abb4;">
                <em>Thanks to {{#reviewerList reviewers}}{{/reviewerList}} for reading drafts of this post.</em>
            </p>
        </div>
    {{/content}}
{{/extend}}
