{{#extend "base"}}
    {{#content "header"}}
        {{#extend "header"}}
            {{#content "hero"}}
                {{> hero_headline_post}}
            {{/content}}
        {{/extend}}
    {{/content}}

    {{#content "body"}}
        <div class="row post-content" data-lightbox data-post-category="{{category}}">
            {{{this.content}}}

            <p style="margin-top:50px; color: #a5abb4;">
                Thanks to {{#reviewerList reviewers}}{{/reviewerList}} for reading drafts of this post.
            </p>

            {{#if comments}}
                <p style="color:#a5abb4; margin-top:50px;">Join the conversation on...</p>

                <div style="white-space:nowrap;">
                {{#if comments.linkedInURL}}
                    <a class="btn external btn-social btn-linkedin" href="{{comments.linkedInURL}}">
                      <i class="fa fa-linkedin">
                        <span class="btn-social-name">LinkedIn</span>
                      </i>
                    </a>
                {{/if}}
                {{#if comments.dribbbleURL}}
                    <a class="btn external btn-social btn-dribbble" href="{{comments.dribbbleURL}}">
                      <i class="fa fa-dribbble">
                        <span class="btn-social-name">Dribbble</span>
                      </i>
                    </a>
                {{/if}}
                {{#if comments.hnItemId}}
                    <a class="btn external btn-social btn-hacker-news" href="https://news.ycombinator.com/item?id={{comments.hnItemId}}">
                      <i class="fa fa-hacker-news">
                        <span class="btn-social-name">Hacker News</span>
                      </i>
                    </a>
                {{/if}}
                {{#if comments.twitterHash}}
                    <a class="btn external btn-social btn-twitter" href="{{comments.twitterHash}}">
                      <i class="fa fa-twitter">
                        <span class="btn-social-name">Twitter</span>
                      </i>
                    </a>
                {{/if}}
                {{#if comments.redditURL}}
                    <a class="btn external btn-social btn-reddit" href="{{comments.redditURL}}">
                      <i class="fa fa-reddit">
                        <span class="btn-social-name">Reddit</span>
                      </i>
                    </a>
                {{/if}}
            </div>
            {{/if}}

        </div>
    {{/content}}
{{/extend}}
