<section id="posts">
    {{#each posts}}
        <div class="card">
            <div class="card-thumbnail" style="background-image:url('/img/{{this.thumbnail}}');"></div>

            <div class="card-content">
                <h2 class="headline">
                    <a href="{{this.link}}">{{this.title}}</a>
                </h2>

                <p class="headline-deck">
                    Published in <a class="headline-category" href="{{category}}">{{category}}</a><br>
                    {{displayDate}} by {{author.name}}
                </p>

                <p class="snippet">{{snippet}}...</p>
            </div>
        </div>
    {{/each}}
</section>