.header-design-bg() {
  background-image: url('/img/design_hero.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-eng-bg() {
  background-image: url('/img/engineering_hero.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-open-source-bg() {
  background-image: url('/img/opensource_hero.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-default-bg() {
  background-image: url('/img/integration.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.quote-bg() {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADoAAAAgCAMAAAB0KJvnAAAA+VBMVEUAAAAA/////wAA/////wD//wAA/////wDm/////+bE/////8T////n///////2//////bf/////9///+vX///0//////Ti//////rm/////+b////s/////+z////r/////+v////t/////+3////s/////9///+z////g///s/////+Dh///p/////+H////n/////97////e///k/////97//+T//////+Ph/////+Hm/////9/d/////93g/////9z//+Dj/////97l///p///u///y///3///7/////9z//+D//+X//+n//+7///L///f///v///+ySV0OAAAARHRSTlMAAQECAgQHBwoKDQ0RFRUbGyAgJi0tLTQ0PDw8RERETU1NVlZWYGBgYGpqdYCAgICMjIyZmZmZmaazs8HB0NDf39/v7xh+lvYAAAE2SURBVHjardTXUsJgEIbhgBRLbKBYwYZdUWwgFhSwoNL2/i/GA82/2TeTM97TZ5YhM/nijbHSUbhymMqGSrycFtNXiOYtPfP03vpBiJqW1nE5a3mUVVqy1E/h9Cn+T7Us1XG5KLai0hooj1M8ziCt1LHUw+Wy2BpKW6AqTlvwgpPEG2jBXm6C+0lH+6Bvz9aB3zmZ+ACd2stdQTlHZ6QZc5l4B/84ynyCXj3TiaCKo2vSXiD6OCY/oMkuZJg1p+eC2phE7GgyXfphQL6wojm9IY+mAnogDVJYOHrRSbAGFs62dRKsgIWjYVongXpJLBw96iTYLRbOVnXhLMeF88uDScSMZkUi1XXhrIKFs7wunPlYeMxojqPUxsJZlZPg+6m/zOb+6FI0fT+1jdpVpH/aiVDtwhtHvzm9QgMNnH7jAAAAAElFTkSuQmCC);
}

.github-bg() {
  background-image: url('/img/github_icon.png');
}

.github-hover-bg() {
  background-image: url('/img/github_hover.png');
}

.dribble-bg() {
  background-image: url('/img/dribbble_icon.png');
}

.dribble-hover-bg() {
  background-image: url('/img/dribbble_hover.png');
}

.twitter-bg() {
  background-image: url('/img/twitter_icon.png');
}

.twitter-hover-bg() {
  background-image: url('/img/twitter_hover.png');
}

.error-face-bg() {
  background-image: url('/img/errorface.png');
}