.header-design-bg() {
  background-image: url('/img/design_hero.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-eng-bg() {
  background-image: url('/img/engineering_hero.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-open-source-bg() {
  background-image: url('/img/opensource_hero.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-default-bg() {
  background-image: url('/img/integration.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.quote-open-bg() {
  background-image: url('/img/quote-open.png');
}

.quote-close-bg() {
  background-image: url('/img/quote-close.png');
}

.github-bg() {
  background-image: url('/img/github_icon.png');
}

.github-hover-bg() {
  background-image: url('/img/github_hover.png');
}

.dribble-bg() {
  background-image: url('/img/dribbble_icon.png');
}

.dribble-hover-bg() {
  background-image: url('/img/dribbble_hover.png');
}

.twitter-bg() {
  background-image: url('/img/twitter_icon.png');
}

.twitter-hover-bg() {
  background-image: url('/img/twitter_hover.png');
}

.error-face-bg() {
  background-image: url('/img/errorface.png');
}
